  <h2 class="text-2xl mb-2">Les projets </h2>
  <ul class= "w-56 rounded-md"> 
      <% @participants.each_with_index do |p, i| %>
          <div class="card bg-neutral shadow-xl mb-2">
            <div class="card-body p-4">
              <span><%= i %> - <%= p.name %></span>
              <span><%= p.project_name %></span>
            </div>
          </div>

            
      <%end %>

  </ul>

  <%= render "shared/wheel" %>
